@model IEnumerable<NW.CursoMvc.Application.ViewModels.FornecedorViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Fornecedores</h2>

<p>
    @Html.ActionLink("Adicionar novo fornecedor", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cpf)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dataNascimento)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cpf)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dataNascimento)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.FornecedorId }) |
            @Html.ActionLink("Produtos", "Index","Produtos") |
            @Html.ActionLink("Deletar", "Delete", new { id=item.FornecedorId })
        </td>
    </tr>
}

</table>
