@model IEnumerable<NW.CursoMvc.Domain.Entities.HistoricoCompras>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Cliente.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Produto.nomeProd)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NomeProd)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ValorProd)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotalGasto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.QuantidadeProd)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Cliente.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Produto.nomeProd)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NomeProd)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ValorProd)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TotalGasto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.QuantidadeProd)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.HistoricoComprasId }) |
            @Html.ActionLink("Details", "Details", new { id=item.HistoricoComprasId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.HistoricoComprasId })
        </td>
    </tr>
}

</table>
