@using NW.CursoMvc.UI.Site.Helpers
@model IEnumerable<NW.CursoMvc.Application.ViewModels.ClienteViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Clientes</h2>

<p>
    @Html.ActionLink("Criar novo cliente", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CPF)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataNascimento)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CPF)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DataNascimento)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.ClienteId }).IfClaimHelper("PermissoesCliente","CE") |
            @Html.ActionLink("Detalhes", "Details", new { id=item.ClienteId }).IfClaimHelper("PermissoesCliente", "CD") |
            @Html.ActionLink("Deletar", "Delete", new { id=item.ClienteId }).IfClaimHelper("PermissoesCliente","CX") |
            @Html.ActionLink("Abrir carrinho de compras", "AbrirCarrinho", "CarrinhoCompras", new {id = item.ClienteId}, null) |
            @Html.ActionLink("Ver carrinho", "VerCarrinho","CarrinhoCompras", new {idCliente = item.ClienteId}, null)
        </td>
    </tr>
}

</table>
