@model IEnumerable<NW.CursoMvc.Application.ViewModels.ProdutoViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Produtos</h2>

<p>
    @foreach (var item in Model)
    {
        @Html.ActionLink("Adicionar novo produto", "Create", new { id = item.FornecedorId });
        break;
    }

</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nomeProd)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.descricao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.valor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.peso)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.nomeProd)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.descricao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.valor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.peso)
            </td>
            <td>
            
            </td>
        </tr>
    }

</table>
<hr />
<p>
@Html.ActionLink("Voltar para os fornecedores","Index","Fornecedores")
</p>