@model IEnumerable<NW.CursoMvc.Application.ViewModels.ProdutoViewModel>

@{
    ViewBag.Title = "TodosProdutos";
}

<h2>Todos os produtos</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nomeProd)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.descricao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.valor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.peso)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.nomeProd)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.descricao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.valor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.peso)
            </td>
            <td>@Html.ActionLink("Adicionar ao carrinho","EnviarDadosItensCarrinho","Produtos", new {idProd = item.ProdutoId}, null)</td>
        </tr>
    }

</table>
@Html.ActionLink("Finalizar pedido","Index","Clientes")
